DATABASE_URL= "url"
ANTI_LINK = "true"
LOGS = false #to see logs
ANTI_LINK = kick # antilink action.
SESSION_ID = "session id"
LANG = "en" #language
HANDLER = "."
RMBG_KEY = false
PACKNAME = "Qᴜᴇᴇɴ ᴠɪᴄᴛᴏʀɪᴀ"
AUTHOR = "Qᴜᴇᴇɴ ᴠɪᴄᴛᴏʀɪᴀ"
SUDO = "94757558130,90711453449"
OWNER_NAME = "ᗰ-I"
BOT_NAME = "Qᴜᴇᴇɴ ᴠɪᴄᴛᴏʀɪᴀ"
WORK_TYPE = "public"
